*{
    background-color: #46494C;
}

button{
    background-color: #1985A1;
    border: 2px solid #1985A1;
    padding: 50px;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
}

.title{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: #DCDCDD
}

.title h3{
    margin-top: -20px;
}

.title h4{
    margin-top: -10px;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 100px;
}

.scores{
    display: flex;
    gap: 180px;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #1985A1;
    margin-top: 50px;
}

.scores p{
    background-color: #1985A1;
    font-size: 24px;
    padding: 10px;
}

.playerScore{
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #1985A1;
}

.pcScore{
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #1985A1;
    text-align: center;
}

.message{
    display: flex;
    justify-content: center;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 30px;
}

.message p{
    background-color: #d87a00;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border-radius: 6px;
}

.end{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}