*{
    background-color: #000814;
}

button{
    background-color: #003566;
    border: 2px solid #003566;
    padding: 50px;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    color: #DCDCDD;
    width: 250px;
    transition: ease-out 0.2s;
}

.title{
    text-align: center;
    flex-direction: column;
    color: #DCDCDD;
    padding: 10px;
    max-width: fit-content;
    margin: auto;
}

.title h3{
    margin-top: -20px;
}

.title h4{
    margin-top: -10px;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
}

#rock:hover{
    background-color: #036600;
    border: 2px solid #036600;
}

#paper:hover{
    background-color: #036600;
    border: 2px solid #036600;
}

#scissors:hover{
    background-color: #036600;
    border: 2px solid #036600;
}

.scores{
    display: flex;
    gap: 180px;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #003566;
    margin-top: 50px;
}

.scores p{
    background-color: #003566;
    font-size: 24px;
    padding: 10px;
    font-weight: bold;
    color: #DCDCDD;
}

.playerScore{
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #003566;
}

.pcScore{
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #003566;
    text-align: center;
}

.message{
    display: flex;
    justify-content: center;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 30px;
}

.message p{
    background-color: #FFC300;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border-radius: 6px;
}

.end{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.playAgain:hover{
    background-color: #036600;
    border: 2px solid #036600;
}